/* CSS Document */

#gallery, #galleryTime {
	width: 100%;
	padding: 5px;
	margin: 2px 0;
	background: #333;
	border: 1px solid #777;
	color: #fff;
	font-size: 16px;
}
.galleryStepper {
	font-size: 8px;
	cursor: pointer;
}
.galleryStepper a:hover { color: #f90; }
#galleryTimeBox {
	text-align: right;
	width: 45px;
}
#galleryTime {
	width: 30px;
	text-align: center;
}